.top-bar {
    background-color: lightslategray;
    height: 80px;
    padding-top: 20px;
}
li, a {   
    color: black;
}
a:hover, a:focus, a:active{
    color: inherit;
}
.color {
    background-color: lightslategray;
    padding-right: 30px;
}
.menu2 {
    height: 0px;
}
.button{
    background-color: black;
}