.navbar {
    background-color: gray;
}
.navbar2 {
    background-color: gray;
    height: 100px;
    margin-top: 775px;
}
.textcolor {
    color: black;
    font-size: 30px;
    margin: 30px;
    height: 40px;
}
.copyright {
    padding-top: 40px;
    margin-left: 855px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}